<div class="row">
<p class="cate-product">All Product</p>
</div>
<div class="container">
    <div class="row">
        {{#each neft}}
        <div class="card product-container ">
            <a href="/neft/detail/{{ _id }}">
            <img class="" id="product-image" src="{{ image }}">
            </a>
            <div class="card-body card-info">
                <div class="card-text">
                    {{ name }}
                </div>
                <div class="card-text"> Lego: {{ sku }} </div>
                 <div class="card-best">  {{ best }} </div>
                <div class="card-age">
                    Ages: {{ age }} years and up
                </div>
                <div class="card-date"> NSX : {{ dateFormat NSX "DD-MM-YYYY" }} </div>
                <div class="card-price">
                    ${{ price }}
                </div>
                <div class="card-button">
                    <a class="btn btn-warning " style="background-color:rgb(178, 233, 206); border: 2px solid black;"
                        href="/neft/edit/{{ _id }}">Edit</a>
                    <a class="btn btn-danger" style="background-color: rgb(110, 207, 242); border: 2px solid black;"
                        href="/neft/delete/{{ _id }}"
                        onclick="return confirm('Are you sure to delete this product ?');">Delete</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="container">
    <div class="row">
        {{#each lego }}
        <div class="card product-container">
            <a href="/lego/detail/{{ _id }}">
            <img class="" id="product-image" src="{{ image }}">
            </a>
            <div class="card-body card-info">
                <div class="card-text">
                    {{ name }}
                </div>
                <div class="card-text"> Lego: {{ sku }} </div>
                <div class="card-best">  {{ best }} </div>
                <div class="card-age">
                    Ages: {{ age }} years and up
                </div>
                <div class="card-date"> NSX : {{ dateFormat NSX "DD-MM-YYYY" }} </div>
                <div class="card-price">
                    ${{ price }}
                </div>
                <div class="card-button">
                    <a class="btn btn-warning " style="background-color:rgb(178, 233, 206); border: 2px solid black;"
                        href="/lego/edit/{{ _id }}">Edit</a>
                    <a class="btn btn-danger" style="background-color: rgb(110, 207, 242); border: 2px solid black;"
                        href="/lego/delete/{{ _id }}"
                        onclick="return confirm('Are you sure to delete this product ?');">Delete</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>