<div class="container col-md-8 mt-3 mb-3 card bg-light">
  <form action="/lego/edit/{{ lego._id }}" method="post">
    <h1 class="text text-danger">Edit New Lego</h1>
    <div class="form-group">
      <label class="h5 text text-success">Full name</label>
      <input class="form-control" type="text" name="name" value="{{ lego.name }}" required>
    </div>

    <div class="form-group">
      <label class="h5 text text-success">Age</label>
      <input class="form-control" type="number" name="age" value="{{ lego.age }}" required>
    </div>

    <div class="form-group">
      <label class="h5 text text-success">sku</label>
      <input class="form-control" type="number" name="sku" value="{{ lego.sku }}" required>
    </div>

    <div class="form-group">
      <label class="h5 text text-success">image</label>
      <img src="{{ lego.image }}" width="100" , height="100">
      <input class="form-control" type="text" name="image" value="{{ lego.image }}" required>
    </div>

    <div class="form-group">
      <label class="h5 text text-success">Des</label>
      <input class="form-control" type="text" name="des" value="{{ lego.des }}" required>
    </div>
    {{!-- <div class="form-group">
      <label class="h5 text text-success">Category</label>
      <select class="form-control" name="name" id="">
        <option value="Lego">Lego</option>
        <option value="Nerf">Nerf</option>
      </select>
    </div> --}}
    <div class="form-group">
      <label class="h5 text text-success">Price</label>
      <input class="form-control" type="Number" name="price" value="{{ lego.price }}" required>
    </div>
    <div class="form-group text-center mt-3 mb-3">
      <input class="btn btn-primary" type="submit" value="Update">
    </div>
  </form>
</div>